<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <p><a href="/project">1、请先到这里进行新建项目并导入资产信息</a></p>
    <p><a href="/vul">2、请到这里进行导入系统的脆弱性类型</a></p>
    <p><a href="/threat_possibility">3、请到这里进行导入信息系统威胁可能性参数</a></p>
    <p><a href="/threat">4、请到这里进行导入系统的威胁数据</a></p>
    <p><a href="/mapping">5、创建脆弱性映射关系</a></p>
    <p><a href="/report">6、生成表格</a></p>
    <p><a href="/delete">7、清空数据</a></p>
</body>
</html>