<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Report</title>
</head>
<body>
    <div align="center">
        <p>资产赋值表生成</p>
        <table border="1">
            <tr>
                <td>资产编号</td>
                <td>资产名称</td>
                <td>资产类型</td>
                <td>保密性赋值</td>
                <td>可用性赋值</td>
                <td>完整性赋值</td>
                <td>综合赋值</td>
            </tr>
            {% for row in Assets_Value %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>{{ row[6] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div align="center">
        <p>威胁赋值表生成</p>
        <table border="1">
            <tr>
                <td>资产编号</td>
                <td>威胁赋值</td>
                <td>THR-01</td>
                <td>THR-02</td>
                <td>THR-03</td>
                <td>THR-04</td>
                <td>THR-05</td>
                <td>THR-06</td>
                <td>THR-07</td>
                <td>THR-08</td>
                <td>THR-09</td>
                <td>THR-10</td>
                <td>THR-11</td>
            </tr>
            {% for row in Threat %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>影响程度</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>{{ row[6] }}</td>
                    <td>{{ row[7] }}</td>
                    <td>{{ row[8] }}</td>
                    <td>{{ row[9] }}</td>
                    <td>{{ row[10] }}</td>
                    <td>{{ row[11] }}</td>
                </tr>
                {% for index in Threat_possibility %}
                    <tr>
                    <td>{{ row[0] }}</td>
                    <td>可能性</td>
                    <td>{{ index[0] }}</td>
                    <td>{{ index[1] }}</td>
                    <td>{{ index[2] }}</td>
                    <td>{{ index[3] }}</td>
                    <td>{{ index[4] }}</td>
                    <td>{{ index[5] }}</td>
                    <td>{{ index[6] }}</td>
                    <td>{{ index[7] }}</td>
                    <td>{{ index[8] }}</td>
                    <td>{{ index[9] }}</td>
                    <td>{{ index[10] }}</td>
                    </tr>
                {% endfor %}
                {% for range in Threat_Value %}
                    <tr>
                    <td>{{ row[0] }}</td>
                    <td>威胁赋值</td>
                    <td>{{ range[0] }}</td>
                    <td>{{ range[1] }}</td>
                    <td>{{ range[2] }}</td>
                    <td>{{ range[3] }}</td>
                    <td>{{ range[4] }}</td>
                    <td>{{ range[5] }}</td>
                    <td>{{ range[6] }}</td>
                    <td>{{ range[7] }}</td>
                    <td>{{ range[8] }}</td>
                    <td>{{ range[9] }}</td>
                    <td>{{ range[10] }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </div>
    <div align="center">
        <p>脆弱性赋值表生成</p>
        <table border="1">
            <tr>
                <td>序号</td>
                <td>脆弱性描述</td>
                <td>脆弱性等级</td>
                <td>脆弱性赋值</td>
                <td>脆弱性编号</td>
                <td>受影响资产</td>
            </tr>
        <script>var news=1;</script>
            {% for row in Vul %}
                <tr>
                    <td><script>document.write(''+news+''); news++;</script></td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    {% if row[2] < 3 %}
                        <td>低</td>
                        {% elif row[2] < 4 %}
                        <td>中</td>
                        {% else %}
                        <td>高</td>
                    {% endif %}
                    <td>{{ row[0] }}</td>
                    <td>{{ row[3] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div align="center">
        <p>风险总表</p>
        <table border="1">
            <tr>
                <td align="center">资产</td>
                <td align="center">资产赋值<br>A</td>
                <td align="center">脆弱性编号</td>
                <td align="center">脆弱性赋值<br>V</td>
                <td align="center">威胁编号</td>
                <td align="center">威胁赋值<br>T</td>
                <td align="center">安全事件发生的可能性<br>L=TV</td>
                <td align="center">安全事件发生的损失<br>F=AV</td>
                <td align="center">资产风险值<br>R=LF</td>
                <td align="center">是否可接受</td>
                <td align="center">风险等级</td>
            </tr>
            {% for row in Risk %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td>{{ row[6] }}</td>
                <td>{{ row[7] }}</td>
                <td>{{ row[8] }}</td>
                {% if row[8]<108 %}
                <td>是</td>
                {% else %}
                <td>否</td>
                {% endif %}
                {% if row[8]<108 %}
                <td>低</td>
                {% elif row[8]<256 %}
                <td>中</td>
                {% else %}
                <td>高</td>
                {% endif %}
            {% endfor %}
        </tr>
        </table>
    </div>
</body>
</html>