<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
<p>已导入脆弱性信息的资产</p>
    <div>
        <table border="1">
            <tr>
                <td>资产编号</td>
                <td>脆弱性编号</td>
                <td>脆弱性描述</td>
                <td>脆弱性赋值</td>
            </tr>
            {% for row in result1 %}
                <tr>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div>
    <p>请在这里输入资产的脆弱性信息和赋值</p>
        <table border="1">
            <tr>
                <td>资产编号</td>
                <td>资产名称</td>
                <td>脆弱性编号</td>
                <td>脆弱性描述</td>
                <td>脆弱性赋值</td>
            </tr>
            {% for row in result2 %}
                 <tr>
                     <form action="/vul/{{ id }}" method="post" name="form">
                         <td><input id= "Asset_id" name="Asset_id" type="text" value="{{ row[0] }}"></td>
                         <td>{{ row[1] }}</td>
                         <td>{{ form.Vul_id }}</td>
                         <td>{{ form.Vul_content }}</td>
                         <td>{{ form.Vul_level }}</td>
                         <td><input type="submit" value="提交"></td>
                     </form>
                 </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>